
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fabe2c;
}


.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fabe2c;
}


.page-container {
  flex: 1;               
  padding: 0 220px;      
  width: 100%;
}


.header-row {
  display: flex;
  flex-direction: column;   
  align-items: flex-start;  
  gap: 8px;                 
  margin: 40px 0 20px;
}

.nsu-logo {
  width: 120px;
  height: auto;
}

.header-row h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
  color: #000;
}


.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
}

.course-card {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.course-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.course-card ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

.course-card li {
  font-size: 14px;
  margin-bottom: 4px;
}

.course-image {
  display: block;
  width: 100px;
  margin: 10px auto;
}


.progress {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #ffd700;
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.footer {
  position: relative !important;
  display: block !important;
  background-color: #fabe2c !important;
  color: #000 !important;
  font-size: 20px !important;
  font-weight: bold !important;
  text-align: center !important;
  width: 100% !important;
  margin: 20px 0 !important;
  padding: 16px 0 !important;
  z-index: 1 !important;
}